

.classpath
.groovy/desktop.ini
.groovy/suggestions.xdsl
*.ini
.project
.settings
Lib

app/**/*.js
app/**/*.js.map
app/web/tests/**/*.js

node_modules
platforms
report
hooks
dist
lib
tmp


reports/*

app/shared/environment*
!app/shared/environment.ts.prod
!app/shared/environment.ts.stage
!app/shared/environment.ts.sample

app/web/tests/**/*.js
!app/common/modules/main/services/worker/conversation.worker.js

app/App_Resources/Android/google-services.json
app/App_Resources/iOS/GoogleService-Info.plist

!app/assets/**/*.js
!app/assets/newrelic/newrelic-stage.js


